@import '../App/breakpoints';

.category {

  .category-link {
    text-decoration: none;
    text-transform: uppercase;
    width: 100%;
    display: block;
    text-align: center;
    cursor: pointer;

    &:visited,
    &:link {
      color: inherit;
    }

    &.selected {
      color: #3a982c;
    }

    .sign {
      display: none;

      @media #{$large-screen} {
        display: inline-block;
        float: right;
        font-size: 15px;
        font-weight: bold;
      }
    }
  }

}