.simple-input-field {

  background-color: var(--background-color);

  font-size: 20px;
  line-height: 20px;
  height: 40px;
  padding: 0 5px;
  width: 100%;
  max-width: 100%;
  outline: 0;
  color: #333;
  border: 1px solid #ccc;
  border-radius: 3px;

}